*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

:root{
    --clr-accent: #ff5851;
    --clr-mint-cream: #eff1e9;
    --clr-midtone:  #c7c7c7;
    --clr-midtonefade:  rgb(199, 199, 199, 0.5);
    --clr-independence: rgb(36, 36, 36);

    --ff-accent: 'Montserrat', sans-serif;
    --ff-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body{
    margin: 0px; 
    line-height: 1.6;
    text-align: center;
    position: relative; 

}

html{
    display: flex; 
    justify-content: center;
}

h1{
    font-family: var(--ff-accent); 
    font-weight: bolder;
}

a, h2,h3,p,li, p{
    font-family: var(--ff-primary);  
}


.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-margin{
    max-width: 1800px; 
    margin-left: auto; 
    margin-right: auto;
}

.fullscreen{
    height: 100vh; 
    width: 100%;
}

.section-about{
    background-color: var(--clr-mint-cream);
}
.section-resume,
.section-contact,
.section-portfolio{
    background-color: var(--clr-independence);
}


/*INITIAL LANDING PAGE*/
.canvas-section{
    position: absolute; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    top: 0;
    z-index: 999;
}

canvas{
    position: absolute;
    top: 0; 
    left: 0; 
    background-color: var(--clr-independence);
    z-index: -1;
}

header{
    position: relative; 
}
.name{
    color: var(--clr-accent); 
}

.welcome-message h1{
    font-size: 3.5em;    
}

.welcome-message h2{
    font-size: 2em; 
    font-weight: 300;

}

.welcome-message{
    margin: 12rem; 
    color: var(--clr-mint-cream);
}


/*LANDING PAGE BUTTON*/
.btn-landing-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2.5rem auto;
    position: absolute; 
    bottom: 0px; 
    left: 50%; 
    transform: translate(-50%,-50%);
}

.btn-landing-container a{
    color: white;
    opacity: 0.7;
    width: 100%; 
    height: 100%; 
    margin: 0.5em 1em;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
    transition: 0.5s; 
}

.btn-landing-container:hover{ 

    cursor: pointer; 
}

.btn-landing-container:hover a{
    opacity: 1; 
}

/*NAV BAR STYLES*/
.menu-toggle{
    display: none;
}

nav{
    position: absolute; 
    background: white;
    border-bottom: solid 1px var(--clr-midtone); 
    width: 100%; 
    height: 4rem; 
    display: flex;
    z-index: 10; 
    justify-content: center;
    
}

.nav-content-container{
    display:flex;
    align-items: center; 
    justify-content: space-between;
    z-index: 11;
    width:100%;
    height:100%; 
    max-width: 1800px;
    margin: 0 5rem; 
}

nav ul{
    list-style: none; 
    display: grid; 
    grid-template-columns: repeat(5, auto);
    width: 40%; 
    max-width: 1000px; 

}

nav a{
    color: black; 
    text-decoration: none; 
    letter-spacing: 2px;
    position: relative; 
    transition: 0.3s; 
    letter-spacing: 2px;

}

nav a:hover{
    color: var(--clr-accent);
}

nav .logo-container{
    font-family: var(--ff-accent);
    font-weight: bold;
    line-height: 0.9rem;
    text-transform: uppercase;
    text-align: right;
    border-right: 2px solid black;
    padding-right: 0.5em;
    height: 50%; 
    display: flex; 
    align-items: center;
}

nav .nav-social-icons{
    display: flex;
    align-items: center; 
    height: 100%; 
    color: black;
    font-size: 1.5rem;
}

nav .nav-social-icons:hover{
    cursor: pointer; 
}

#icon{
    margin: 0 0.2rem;
}

#icon:hover{
    color: var(--clr-accent); 
}




/*RESPONSIVE NAVBAR STYLES*/
@media screen and (max-width: 800px){
    nav{
        background-color: red;
    }
}



/*ABOUT ME STYLES START HERE*/ 
.about-icon{
    max-height: 12rem;
}

#split-container{
    display: flex;
    flex-direction: column;    
    width: 100%; 
    border: solid black 1px; 
    height: 70%;
}

.split1{
    position: relative; 
    display: flex; 
    width: 100%; 
    border: solid 1px black;
}

.info{   
    text-align: left;;
}

.info h2{
    text-align: left;
    color: var(--clr-accent);  
    font-weight: 600;
}

.info span{
    color: var(--ff-accent);
}

.split1 img{
    height: 100%; 
    width: auto;
}




/*Styles for About page skill list cards*/
.split2{
    display: flex;
}

.split2 ul{
    list-style-type: none;
}

.skill-card{
    display: flex; 
    flex-direction: column;
    text-align: left;
}

.skill-card h3{
    text-transform: uppercase;
}

.skill-card h3:before{
    
}




/*PORTFOLIO SECTION STYLES*/

.section-portfolio{
    padding: 0; 
    margin: 0; 
}

.portfolio-container{
    display: grid;
    grid-row-gap: 4rem; 
    grid-column-gap:2rem; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4rem 2fr 4rem;
    width: 100%; 
    height: 70%; 
    padding: 0 5rem; 
}

.project-header h2{
    color: var(--clr-accent);
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-weight:500;
}
.project-header h1{ 
    color: white;
    font-size: 3rem; 
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 100%;
    line-height: 2rem;
    font-weight: 600;
}

.project-header{
    grid-column: span 3; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.git-button{
    grid-column: span 3;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.git-button a{
    text-decoration: none;
    color: white; 
    background-color: var(--clr-accent);
    padding: 1.5rem;
}

.project-card{
    padding: 2rem 1rem; 
    transition: 0.4s ease-in-out; 
    position: relative; 
    display: flex;
    align-items:flex-end;
    text-align: left;
    max-width: 500px; 
    max-height: auto;
}

.project-card:hover{
    transform: translateY(-20px); 
}

.project-card:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    display: block; 
    width:100%; 
    height:100%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)); 
    z-index: 2; 
    transition: 0.5s all; 
    opacity: 0;
}

.project-card:hover:before{
    opacity: 1;
}

.project-card img{
    max-width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute; 
    top: 0;
    left: 0; 
}

.project-card .info{
    position: relative; 
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(-30px); 
    transition: 0.4s all; 
}

.project-card:hover .info{
    opacity: 1; 
    transform: translateY(0px); 
}

.project-card a{
    background-color: var(--clr-accent);
    color: white; 
    padding: 1rem;
    text-decoration: none;
}

.project-card .info p{
    margin-bottom: 1.6rem;
}


/*PROJECT CARD MODALS*/
.modal-container{
    background-color: rgba(0,0,0,0.3);
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100vh; 
    width: 100vw; 
    z-index: 99;
    display: flex; 
    align-items: center;
    justify-content: center; 
    display: none;
}

.modal-container .modal{
    background-color: white;
    box-shadow: 5px 10px 20px rgba(0, 0, 0,0.2);
    color: black;
    width: 60%;
    height: 65%; 
    max-width: 900px;
    display: block; 
    margin: 0;
    padding: 0; 
}

.modal .modal-slides{
    width: 100%; 
    height: 65%; 
    background-color: red;

}

.modal .modal-info{
    height:35%; 
    background-color: blue; 
}





.modal-container .modal2{
    display: none;
}



/*RESUME SECTION STYLES*/ 
.section-experience{
    color: white; 
}



/*CLOSE BUTTON*/
.x{
    position: relative; 
    width: 20px;
    height: 3px;
    top:0; 
    left:0; 
    transform:translate(-50%,-50%); 
    background: none; 
}

.x::before, .x::after{
    content:'';
    position: absolute; 
    width:inherit; 
    height: inherit; 
    background: black; 
}

.x::before{
    left:0;
    transform:rotate(-45deg);  
}

.x::after{
    left:0;
    transform:rotate(45deg); 
}

.x:hover:before, .x:hover:after{
    background-color: var(--clr-midtone); 
}

/*HOMEPAGE RESPONSIVENESS STYLES*/
@media screen and (max-width: 800px){
    /*LANDING PAGE*/ 
    .welcome-message{
        margin: 3rem; 
        color: var(--clr-mint-cream);
    
    }
    .welcome-message h1{
        font-size: 2em;      
    }
    
    .welcome-message h2{
        font-size: 1.25em; 
    }

    .btn-landing{
        font-size: 1.5em;
    }

    .btn-landing-container{
        width: 11em;
        padding: 0.3em;

    }
}

/*
ICON ATTRIBUTIONS
Github Icon in Line Style By Unicons Font

*/