*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

:root{
    --clr-accent: #ff5851;
    --clr-mint-cream: #eff1e9;
    --clr-midtone:  #c7c7c7;
    --clr-midtonefade:  rgb(199, 199, 199, 0.5);
    --clr-independence: rgb(36, 36, 36);

    --ff-accent: 'Montserrat', sans-serif;
    --ff-primary:'Mulish', sans-serif;
}

html,
body{
    margin: 0px; 
    line-height: 1.6;
    text-align: center;
    position: relative; 

}

html{
    display: flex; 
    justify-content: center;
}

h1{
    font-family: var(--ff-accent); 
    font-weight: 800;
}

a, h2,h3,p,li, p{
    font-family: var(--ff-primary);  
}


.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fullscreen{
    height: 100vh; 
    width: 100%;
}

.section-about,
.section-portfolio{
    background-color: var(--clr-mint-cream);
}
.section-resume,
.section-contact{
    background-color: var(--clr-independence);
}



/*Style for all card content*/
.card{
    background-color: white;
    box-shadow: 0px 7px 10px var(--clr-midtonefade);
}

/*INITIAL LANDING PAGE*/
.canvas-section{
    position: absolute; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    top: 0;
    z-index: 999;
}

canvas{
    position: absolute;
    top: 0; 
    left: 0; 
    background-color: var(--clr-independence);
    z-index: -1;
}

header{
    position: relative; 
}
.name{
    color: var(--clr-accent); 
}

.welcome-message h1{
    font-size: 3.5em;    
}

.welcome-message h2{
    font-size: 2em; 
    font-weight: 300;

}

.welcome-message{
    margin: 12rem; 
    color: var(--clr-mint-cream);
}


/*LANDING PAGE BUTTON*/
.btn-landing-container{
    position: relative; 
    margin: 2.5rem;
    background: var(--clr-mint-cream); 
    width: 15rem; 
}

.btn-landing{
    text-decoration: none;
    color: var(--clr-independence); 
    font-size: 2rem; 
    
}


/*NAV BAR STYLES*/
nav{
    background: white;
    border-bottom: solid 1px var(--clr-midtone); 
    width: 100%; 
    height: 4rem; 
    display: flex;
    align-items: center; 
    position: absolute; 
    z-index: 10; 
}

nav ul{
    list-style: none; 
    display: grid; 
    grid-template-columns: repeat(5, auto);
    width: 70%; 
}

nav a{
    color: black; 
    text-decoration: none; 
    letter-spacing: 2px;
    position: relative; 
    transition: 0.3s; 
}

nav a:after{
    content:''; 
    position: absolute; 
    background-color: var(--clr-midtone);  
    height: 3px; 
    width: 0; 
    left: 0;
    top: 1.5rem;
    bottom: 25px;
    transition: 0.3s; 
}

nav a:hover{
    color: var(--clr-accent); 
}

nav a:hover:after{
    width:100%; 
}



/*RESPONSIVE NAVBAR STYLES*/
@media screen and (max-width: 800px){
    nav{
        background-color: red;
    }
}



/*ABOUT ME STYLES START HERE*/ 
.about-icon{
    max-height: 12rem;
    border-radius: 50%;
}

#split-container{
    display: flex;
    margin-left: 10%;
    margin-right: 10%; 


}

.split1{
    display: block; 
    margin-top:auto; 
    margin-bottom: auto; 
    margin-left: 2rem;
    text-align: center;
    width: 40%; 
}




/*Styles for About page skill list cards*/
.split2{
    justify-content: space-between;
    width:60%;  
    margin: 2rem;

}

.split2 ul{
    list-style-type: none;
}

.skill-card{
    display: flex; 
    background-color: white;
    padding: 1em;
    margin-top: 1rem;
    height: 20vh;
}

.skill-card img{
    max-height: 4rem;
}

.icon-title1{
    padding: 1rem;
    border-right: solid 2px var(--clr-independence);
}

.icon-title2{
    padding: 1rem;
    border-left: solid 2px var(--clr-independence);
}




/*PORTFOLIO SECTION STYLES*/
.portfolio-container{
    padding: 0 10rem 5rem 10rem; 
    display: grid;
    grid-row-gap: 6rem; 
    grid-column-gap:2rem; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4rem 32rem 4rem;

}

.project-header h1{ 
    font-size: 2.5rem; 
    text-transform: uppercase;
    letter-spacing: 1.5px;
    height: 100%;
}

.project-header{
    grid-column: span 3; 
}

.git-button{
    grid-column: span 3;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.git-button a{
    text-decoration: none;
    color: white; 
    background-color: var(--clr-accent);
    padding: 1.5rem;
}

.project-card{
    padding: 2rem 1rem; 
    transition: 0.4s ease-in-out; 
    position: relative; 
    display: flex;
    align-items:flex-end;
    text-align: left;
}

.project-card:hover{
    transform: translateY(-20px); 
}

.project-card:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    display: block; 
    width:100%; 
    height:100%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)); 
    z-index: 2; 
    transition: 0.5s all; 
    opacity: 0;
}

.project-card:hover:before{
    opacity: 1;
}

.project-card img{
    max-width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute; 
    top: 0;
    left: 0; 
}

.project-card .info{
    position: relative; 
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(-30px); 
    transition: 0.4s all; 
}

.project-card:hover .info{
    opacity: 1; 
    transform: translateY(0px); 
}

.project-card a{
    background-color: var(--clr-accent);
    color: white; 
    padding: 1rem;
    text-decoration: none;
}

.project-card .info p{
    margin-bottom: 1.6rem;
}


/*PROJECT CARD MODALS*/
.port-modal{
    display: none;
}




/*RESUME SECTION STYLES*/ 
.section-resume{
    color: white; 
}

.section-resume h1{

}







/*HOMEPAGE RESPONSIVENESS STYLES*/
@media screen and (max-width: 800px){
    /*LANDING PAGE*/ 
    .welcome-message{
        margin: 3rem; 
        color: var(--clr-mint-cream);
    
    }
    .welcome-message h1{
        font-size: 2em;      
    }
    
    .welcome-message h2{
        font-size: 1.25em; 
    }

    .btn-landing{
        font-size: 1.5em;
    }

    .btn-landing-container{
        width: 11em;
        padding: 0.3em;
    }
}